@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-default: #151929;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 3px;
}

::-webkit-scrollbar-track{
  /* background-color: var(--background-secondary); */
  background: transparent;
}

::-webkit-scrollbar-thumb{
  /* background: var(--background-primary); */
  background: transparent;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

#__next,
body {
  @apply h-full;
}

@layer components {
  .container {
    @apply sm:max-w-[768px] md:max-w-[1440px] px-4 py-10 md:px-20;
  }
}

@layer utilities{
  .bg-gradient-container{
    background: linear-gradient(
    45deg, 
    rgba(31,35,51,1) 31%, 
    rgba(80,80,91,0.7932422969187676) 100%
    );
  }
}

html{
  @media(max-width:1080px){
      font-size:93.75%;
  }

  @media(max-width:720px){
      font-size:87.5%;
  }

  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--bg-default);
}
